.tickets-table {
    margin: 80px 0;
}
.tickets-table tr{
	text-align: center;
	font-size: 18px;
}
.btn-custom{
	display: block;
	background: #001b57;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
	border-radius: 15px;
    margin-left: 20px;
	padding: 12px 15px;
}
.btn-custom:hover{
	color: #f7f7f7; 
	background: #002c8b;
}
.border {
    display: block;
    border: 0.75px solid #a8a8a8;
    border-radius: 0.75rem;
    padding: 3px 0px;
    margin: 10px 0;
}
.sticky-head {
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 40px;
}